.bg-gray {
    background-color: rgb(153, 153, 153);
}

.sold {
    top: 0.5rem;
    right: 0.5rem;
}
.buton{
    width: 160px;
  
    
    
}
.jpg{
    width: 250px;
    height: 400px;
    
}
.index{
    z-index: 1;
}
li:link{
    text-decoration: none;
    
}
body{
    background-color: rgb(213, 201, 201);
}